$light-grey: #939aa5;
$dark-grey: #6f6f6f;
$off-white: #fbfffe;
$aqua: #2c9f89;

header {
    background: $off-white;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.header-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;

    .lead {
        font-size: 30px;
        color: $aqua;
        font-weight: 400;
    }

    .name {
        color: $dark-grey;
    }

    .title {
        font-size: 20px;
        text-align: center;
        color: $light-grey;
    }
}
