$off-white: #fbfffe;
$extra-light-grey:#eee;
$light-grey: #939aa5;
$dark-grey: #6f6f6f;
$wallflower:#3778b9;
$purple-blue:#8398d8;
$baby-blue:#aed6ff;
$light-blue:#f4f6ff;
$aqua: #2c9f89;
$turquoise: #7ec4b7;
$sage:#9fd0a8;
$coral:#ffc3ae;
$light-coral:#fff7f4;
$dark-coral:#fa8e58;
$light-green:#f7fff4;
$dark-green:#2cab4f;